In [3]:
# Finding the uppercase letters from text
text="abcdEFGH"
any(c for c in text if c.isupper())

True

In [2]:
# Finding the List Contains text or numbers in total
list_all=["Android","Ios","Windows","Linux",2.0,9]
print(all(isinstance(item,str) for item in list_all))
list_os=["Android","Ios","Windows","Linux"]
print(all(isinstance(item,str) for item in list_os))
list_v=[2,9]
print(all(isinstance(item,int) for item in list_v))

False
True
True

In [1]:
# Finding an Iterable function and using filte method
def get_fruit(val: str):
    fruits =["apple","orange","grape","banana","mango"]
    if val in fruits:
        return True
    else:
        return False

items=["chair","coca cola","pepsi","apple","orange","tomato","lemon"]
fruit=filter(get_fruit, items)
print(list(fruit))

['apple', 'orange']

In [4]:
nums=[1,2,3,4,5]
list(map(str, nums))

['1', '2', '3', '4', '5']

In [6]:
def multiply_by_two(num: float):
    return num*2

list(map(multiply_by_two, nums))

[2, 4, 6, 8, 10]

In [7]:
import random
to_do_tonight=["stay at home","attend party","do exercise"]
random.choice(to_do_tonight)

'attend party'

In [9]:
import random
place=["hyderabad","bangalore","kadapa","pune"]
random.choice(place)

'bangalore'

In [8]:
import random
First_Course=["Excel","Python","Power-BI","Tableau","Mysql","Maths"]
random.choice(First_Course)

'Maths'

In [18]:
import random
import numpy as np
nums=[1,2,3,45,6,7,8,9,1,0]
random.choice(nums)

6

In [21]:
# Finding max values in python list
import heapq
import random
from timeit import timeit

random.seed(0)
l=random.sample(range(0, 10000),10000)

def get_n_max_sorting(l: list,n:int):
    l=sorted(l, reverse=True)
    return l[:n]

def get_n_max_heapq(l: list,n:int):
    return heapq.nlargest(n,l)

In [24]:
expSize=1000
n=100
time_sorting = timeit("get_n_max_sorting(l,n)", number=expSize,globals=globals())
time_heapq= timeit("get_n_max_heapq(l,n)", number=expSize,globals=globals())
ratio=round(time_sorting/time_heapq,3)
print(f"run {expSize} experiments. Using heapq is {ratio} times"
"faster than using sorting algorithm")

run 1000 experiments. Using heapq is 2.194 timesfaster than using sorting algorithm

In [26]:
# appending new stings/integers to list
l1=[1,2,3,4,5]
l2=l1
l2.append("done")
print(l2)

[1, 2, 3, 4, 5, 'done']

In [27]:
l3=l1.copy()
l3.append("one down")
l3

[1, 2, 3, 4, 5, 'done', 'one down']

In [29]:
arr=["a","b","c","d","e"]

# Intead of this method
for i in range(len(arr)):
    print(i,arr[i])

# Use this method instead
for i,val in enumerate(arr):
    print(i,val)

0 a
1 b
2 c
3 d
4 e
0 a
1 b
2 c
3 d
4 e

In [31]:
# append and extend functions
a=[1,2,3,4]
a.append([5,6])
print(a)
b=[1,2,3,4]
b.extend([5,6])
print(b)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, 5, 6]

In [35]:
# intersection and union operations on setd
requirement1=["numpy","pandas","matplotlib","seaborn","statsmodel"]
requirement2=["pandas","numpy","statsmodel","sklearn","scipy"]
deployment=["streamlit","flask","django"]

intersection=set.intersection(set(requirement1),set(requirement2))
print(list(intersection))

union=set.union(set(requirement1),set(requirement2),set(deployment))
list(union)

['pandas', 'numpy', 'statsmodel']

['pandas',
 'sklearn',
 'statsmodel',
 'streamlit',
 'django',
 'flask',
 'numpy',
 'seaborn',
 'matplotlib',
 'scipy']

In [40]:
# find elements in requirement1 not in requirement2
difference1=set(requirement1).difference(set(requirement2))
print(difference1)

# find elements in requirement2 not in requirement1
difference2=set(requirement2).difference(set(requirement1))
print(difference2)

{'seaborn', 'matplotlib'}
{'sklearn', 'scipy'}

In [41]:
# learn to use join method for lists
# most helpful while doing NLP
First_Course=["Excel","Python","Power-BI","Tableau","Mysql","Maths"]
courses=",".join(First_Course)

print(f"the courses that needed to be completed {courses} to become an data professional are")

the courses that needed to be completed Excel,Python,Power-BI,Tableau,Mysql,Maths to become an data professional are

In [42]:
# Take two different lists and combine
nums=[1,2,3,4,5,6]
First_Course=["Excel","Python","Power-BI","Tableau","Mysql","Maths"]
combination=list(zip(nums,First_Course))
combination

[(1, 'Excel'),
 (2, 'Python'),
 (3, 'Power-BI'),
 (4, 'Tableau'),
 (5, 'Mysql'),
 (6, 'Maths')]

In [45]:
# Take two different lists seperately after combining them
nums=[1,2,3,4,5,6,7,8,9,10]
First_Course=["Excel","Python","Power-BI","Tableau","Mysql","Maths"]
combination1=list(zip(nums,First_Course))
index , course=zip(*combination1)
index , course

((1, 2, 3, 4, 5, 6),
 ('Excel', 'Python', 'Power-BI', 'Tableau', 'Mysql', 'Maths'))

In [48]:
nested_arr=[[1,2,3],["a","b"],4]
num_arr,char_arr,num=nested_arr
print(num_arr)
print(char_arr)
print(num)

[1, 2, 3]
['a', 'b']
4

In [52]:
# Suggestion: ignore multiplke values while unpacking a python iterable
a,*_,b=[1,2,3,4]
print(a)
print(b)
print(_)

1
4
[2, 3]